* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h1,
h2 {
  color: rgb(8, 158, 33);
}
h1 {
  font-size: 40px;
  margin-bottom: 30px;
}

h2 {
  font-size: 25px;
  margin-bottom: 30px;
}

.main-text {
  text-align: justify;
  margin-bottom: 25px;
}
.author-text {
  font-size: 22px;
  float: left;
  margin-top: 40px;
  margin-left: 10px;
}
.container {
  width: 1140px;
  /* margin-left: auto;
  margin-right: auto;
  margin-top: 20px; */
  margin: 40px auto 0 auto;
}

.blog-post {
  width: 75%;
  float: left;
  padding-right: 50px;
  position: relative;
}
.other-postos {
  width: 25%;
  float: left;
}
.author-box {
  padding-top: 20px;
  border-top: 1px solid rgb(97, 95, 95);
}
.other {
  margin-bottom: 40px;
}

.author-box img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  float: left;
}
.blog-post img {
  height: 150px;
  width: auto;
}
.date {
  position: absolute;
  top: 10px;
  right: 50px;
}
